$very-small: "(max-width: 500px)";

aside {
  @media #{$very-small} {
      /* On small screens, we are no longer using row direction but column */
    width: 0;
    visibility: hidden;
    padding: 0;
    height: 0;
  }
  padding: 20px;
  border-right: 1px #f0f0f0 solid;
  .categories {
    .ais-header {
      @extend .sub-title;
    }
    label {
      text-align: left;
      display: block;
      cursor: pointer;
      padding: 4px 4px 4px 18px;
      font-weight: normal;
      font-size: .9em;
      border-radius:4px;
      display: flex;
      font-weight: 600;
      &:hover {
        color: white; 
        background: #2897C5;
        .badge {
          color: inherit;
        }
      }
      input {
        display: none;
      }
      .badge {
        color: #b0b0b0;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 5px;
        font-weight: normal;
      }
    }
    .active {
      label {
          color: white;
          background: #2897C5;
      }
      .badge {
        color: white;
      }
    } 
  }
  .star-rating{
    padding-left: 18px;
    .ais-star-rating--list{
      display:flex;
      flex-direction:column-reverse;
      .ais-star-rating--link{
        text-decoration: none;
        .ais-star-rating--count{
          visibility: hidden; 
        }
      }
    }
  }
}
