@import 'aside';
@import 'results';
@import 'stars';

body {
  font-family: 'Open Sans',Roboto, sans-serif;
  font-size: 1em;
  background-image: url("../../resources/graphics/background.png");
  color: #333333;
}


.sub-title {
  font-weight: 600;
  font-size: large; 
  margin-bottom: 15px;
  margin-top: 15px; 
}

.welcome-container {
  margin:auto;
  margin-top: 4em;
  width: 80%;

  p {
    margin: 5px;
  }
}

header {
	margin:auto;
	padding: 20px 30px;
	background: #1C688E;
	box-shadow: -5px 5px 5px lightgrey;

  .ais-search-box{
    width: 100%;

    input {
      padding: 10px 15px;
      box-sizing: border-box;
      font-size: large;
      width:100%;
      border-width: 0px;
      border-radius:3px;
    }
  }
}
